.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
}

/* The header section */
.header {
  background-color: #2a5a97;
  padding: 10px;
  width: 100%;
}
.header h1 {
  text-align: left;
  color: white;
  font-size: 300%;
}
.header h2 {
  text-align: left;
  color: #94a4b3;
  font-size: 100%;
}

.header h3 {
  text-align: center;
  color: white;
  font-size: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
/* CONTENT */
.content {
  padding: 10px;
  text-align: center;
  min-height: 700px;
}
h4 {
  text-decoration: underline;
  font-size: 200%;
  color: #2a5a97;
}

/* Netflix Posters */
.posterRow {
  justify-content: center;
  display: flex;
  flex-direction: row;
  border: 20px solid black auto;
  margin-top: 10px;
}
.poster img {
  max-width: 200px;
  max-height: 200px;
  border: 3px solid black;
}

/* Counter */
.counterBox {
  padding: 10px;
  text-align: center;
  color: #f49446;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}
.countArea {
  color: #f49446;
  font-size: 500%;
  margin: auto;
}

.decreaseButton,
.increaseButton {
  color: #2a5a97;
  font-size: 250%;
}
.reset {
  color: #2a5a97;
  font-size: 200%;
}

/* put in a box */

/* List */
.removeButton,
.submitButton {
  color: #f49446;
  font-size: 100%;
  /* Want this to be on the left */
}

/* Form */
.form {
  margin-top: 20px;
  text-align: center;
}

/* footer */
.footer {
  /* position: fixed; */
  bottom: 0px;
  background-color: #2a5a97;
  padding: 10px;
  text-align: center;
  color: #f49446;
  width: 100%;
}
